<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Go Web Server</title>
</head>
<body>
	<h1>Talk with ChatGPT on Go Web Server</h1>
	{{ range . }}
		{{ if ne .role "system" }}
		<p> {{.role}}: {{.content}} </p>
		{{ end }}
	{{ end }}
	<form action="/send" method="POST">
		<label for="message">You: </label>
		<textarea name="message" id="message" rows="1" cols="35"></textarea>
		<input type="submit" value="Send">
	</form>
	<br> <br>
	<form action="/clear" method="POST">
		<input type="submit" value="Clear Conversation History">
	</form>
</body>
</html>
